@import url("/home/dinozover/.cache/wal/colors-waybar.css");

* {
    border-radius: 5px;
    font-family: NotoSans-Regular;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#window {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

tooltip {
  background: @background;
  border: 1px solid @foreground;
}
tooltip label {
  color: @foreground;
}

#workspaces {
    background-color: @background;
    margin: 4px 4px 4px 4px;
}

#workspaces button{
    padding: 6px 7px;
    background: transparent;
    color: @color2;
}

#workspaces button.active {
    background: @color2;
    color: @foreground;
}

#battery {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 20px 6px 10px;
}

#network { 
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

#custom-wifibt {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

#clock {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

#bluetooth {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

#custom-weather {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

#custom-notification {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 14px 6px 10px;
}

#battery.warning:not(.charging) {
    background: @foreground;
    color: @background;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-sys {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

#cpu {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

#disk {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

#memory {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

#privacy {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}

#language {
    color: @foreground;
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 6px 10px;
}
